@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --tgui--font-family: 'Inter', sans-serif;
  --tgui--text_color: #2c2f38;

  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: auto;
}
