@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --tgui--font-family: 'Inter', sans-serif;
  --tgui--text_color: #2c2f38;

  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.segment-control {
  --tgui--font-family: 'Inter', sans-serif;
  --tgui--caption1--font_size: 14px;
  --tgui--text_color: #2c2f38;
}

.segment-control > div > div {
  border-radius: 0.375rem !important;
}

.accordion {
  --tgui--font-family: 'Inter', sans-serif;
}

.accordion svg {
  color: #2C2F38;
}

@media (prefers-color-scheme: dark) {}
